/* cyrillic-ext */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'), url(fonts/cuprum-regular-1.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'), url(fonts/cuprum-regular-2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'), url(fonts/cuprum-regular-3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'), url(fonts/cuprum-regular-4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'), url(fonts/cuprum-regular-5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(fonts/lato-light-1.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(fonts/lato-light-2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(fonts/lato-black-1.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(fonts/lato-black-2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

* {
   cursor: default;
}

body {
  overflow: hidden;
  position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,0);
  font-family: 'Cuprum', sans-serif;
}

html {
  margin: 0px !important;
  overflow: hidden;
}

h1 {
  font-weight: 300;
  margin: 0 0 5px 0;
}

strong {
  font-weight: 900;
}

canvas {
  margin: 0;
  padding: 0;
  height: 55px !important;
  width: 55px !important;
}

p {
  display: block;
  margin: 0;
  padding: 0;
}

#main{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

#interface{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 1);
}

#header{
  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  padding: 0 5px;
  -webkit-app-region: drag;
  display: flex;
  height: 60px;
}

#header > div {
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#settings{
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

#jam {
  font-size: 0.8em;
  align-items: center;
}

#jam > p{
  margin-bottom: 5px;
}

#app-title {
  align-items: flex-end;
}

#settings{
  color: rgba(255, 255, 255, 1);
  margin: 0.2em 2em;
}

.block{
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  flex: 1;
}

.pad {
  display: flex;
  flex-direction: column;
  flex: calc(50% - 4px);
  align-items: center;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(0,0,0,1);
}

.pad-note{
  display: flex;
  font-size: 1.6em;
  font-weight: bold;
  flex-grow: 10;
  align-items: center;
}

.mini-pad{
  background-color: rgba(0,0,0,1);
  width: 100%;
  height: 10px;
  margin-bottom: 3px;
  opacity: 0;
}

@media (max-height: 750px){
  * {
    font-size: 100%;
  }
}

@media (max-width: 400px){
  #header{
    font-size: 80%;
    height: 40px;
  }
  .repeat{
    display: none !important;
  }
  #code{
    display: none !important;
  }
  #jam {
    align-items: flex-start;
  }
}

@media (min-width: 400px){
  .pad{
    flex: calc(25% - 4px);
  }
}

@media (min-width: 600px){
  .pad{
    flex: calc(12.5% - 4px);
  }
}

.o-1{ opacity: 1; }
.o-075{ opacity: 0.75; }
.o-05{ opacity: 0.5; }
.o-025{ opacity: 0.25; }
.hidden{ visibility: hidden; }
.visible{ visibility: visible; }
